<footer class="bg-black text-gray-200 py-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <!-- Grid layout for footer sections -->
      <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
        <!-- About Us Section -->
        <div>
          <h3 class="text-xl font-semibold mb-4 text-gray-600">About TTA</h3>
          <div class="text-sm text-gray-400">
            <span class="font-bold">TrainThe<span class="text-red-600">Algo</span></span> is an open-source news aggregator which leverages cutting-edge AI to create unbiased news coverage of emerging technology and global events
          </div>
        </div>
        <!-- Quick Links -->
        <div>
          <h3 class="text-xl font-semibold mb-4 text-gray-600">Latest News</h3>
          <ul class="space-y-2 text-sm">
            <li><a href="/" class="hover:text-white transition-colors">Home</a></li>
            <li><a href="/#tech" class="hover:text-white transition-colors">Tech</a></li>
            <li><a href="/#world" class="hover:text-white transition-colors">World</a></li>
            <li><a href="/#finance" class="hover:text-white transition-colors">Finance</a></li>
            <li><a href="/#science" class="hover:text-white transition-colors">Science</a></li>
          </ul>
        </div>
        <!-- Categories -->
        <div>
          <h3 class="text-xl font-semibold mb-4 text-gray-600">Information</h3>
          <ul class="space-y-2 text-sm">
            <li><a href="https://github.com/TrainTheAlgo/TrainTheAlgo/" class="hover:text-white transition-colors">Source Code</a></li>
            <li><a href="/about.html" class="hover:text-white transition-colors">Story So Far</a></li>
            <li><a href="/partners.html" class="hover:text-white transition-colors">Partners</a></li>
            <li><a href="/ethics.html" class="hover:text-white transition-colors">Ethics &amp; Trust</a></li>
            <li><a href="https://x.com/messages/compose?recipient_id=1888104866926743552&text=Partnership%20Enquiry" class="hover:text-white transition-colors">Contact</a></li>
          </ul>
        </div>
        <!-- Social Media -->
        <div>
          <h3 class="text-xl font-semibold mb-4 text-gray-600">Social Media</h3>
          <div class="flex flex-row items-center mb-4 gap-4">
            <a href="https://youtube.com/@TrainTheAlgo" target="_blank" class="hover:text-white transition-colors">
              <svg fill="currentColor" viewBox="0 0 24 24" class="w-8 h-8">
                <path d="M23.498 6.186a2.996 2.996 0 00-2.116-2.119C19.93 3.5 12 3.5 12 3.5s-7.93 0-9.382.567a2.996 2.996 0 00-2.116 2.119C0 7.638 0 12 0 12s0 4.362.502 5.814a2.996 2.996 0 002.116 2.119C4.07 20.5 12 20.5 12 20.5s7.93 0 9.382-.567a2.996 2.996 0 002.116-2.119C24 16.362 24 12 24 12s0-4.362-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"/>
              </svg>
            </a>
            <form onsubmit="window.location.href='https://www.youtube.com/@TrainTheAlgo?sub_confirmation=1'; return false;"></form>
              <button type="submit" class="bg-red-600 px-4 py-2 rounded-md hover:bg-red-500 transition-colors cursor-pointer">
                Subscribe
              </button>
            </form>
          </div>
          
          <div class="flex flex-row items-center mb-4 gap-4">
            <a href="https://x.com/TrainTheAlgo" target="_blank" class="hover:text-white transition-colors">
              <svg fill="currentColor" viewBox="0 0 16 16" class="w-8 h-8">
                <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
              </svg>
            </a>
            <form onsubmit="window.location.href='https://x.com/intent/user?screen_name=TrainTheAlgo'; return false;"></form>
              <button type="submit" class="bg-blue-400 px-4 py-2 rounded-md hover:bg-blue-500 transition-colors cursor-pointer">
                Follow
              </button>
            </form>
          </div>
        </div>
      </div>
      <!-- Copyright Section -->
      <div class="mt-8 border-t border-gray-800 pt-4 text-center text-sm">
        <div class="text-gray-400"><a href="https://github.com/TrainTheAlgo/TrainTheAlgo/" target="_blank">Open-Source MIT License</a> <a href="https://trainthealgo.com" target="_blank"><span class="font-bold text-white">TrainThe<span class="text-red-600">Algo</span>.com</span></a></div>
      </div>
    </div>
  </footer>
  