<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrainTheAlgo | Ethics And Trust</title>
    <meta name="description" content="TrainTheAlgo is an open source gateway to emerging technology and global events" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-gray-100 text-gray-800">
    <!-- Menu -->

    <!-- Main Content -->
    <main class="px-4 py-8">
      <section class="bg-gray-100 text-gray-800 py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto">
          <!-- Main Heading -->
          <h1 class="text-3xl font-bold mb-4 mt-10">Partners</h1>
          <div class="max-w-4xl mx-auto">
            <!-- Partnerships Section -->
            <h2 class="text-2xl font-semibold mt-8 mb-4">Partnerships</h2>
            <p class="mb-4">
              We actively seek strategic partnerships with trusted organizations, innovators, and media outlets that align with our core mission. Through these collaborations, we foster community engagement, expand our reach, and promote initiatives that drive positive change. Whether it's co-developing technology solutions, engaging in thought leadership, or hosting collaborative events, our partners are integral to our journey toward a more transparent and inclusive media landscape.
            </p>
            <p class="mb-4">
              Contact us via direct message at: <a href="https://x.com/messages/compose?recipient_id=1888104866926743552&text=Partnership%20Enquiry" target="_blank">https://x.com/TrainTheAlgo</a>
            </p>
            <!-- Advertising Section -->
            <h2 class="text-2xl font-semibold mt-8 mb-4">Advertising</h2>
            <p class="mb-4">
              Advertising at TrainTheAlgo is curated with care. We partner with brands and advertisers who share our values, ensuring that every advertisement complements our content without compromising the integrity of our news coverage. Our advertising practices prioritize relevance and ethical standards, so you can trust that the ads you encounter are aligned with our mission of unbiased, fact-based reporting. We continuously evaluate our ad partnerships to ensure they enhance your experience while maintaining the quality and transparency you expect.
            </p>
            <!-- Closing Statement -->
            <p class="text-lg font-bold mt-8">
              By embracing both innovative partnerships and ethical advertising, TrainTheAlgo not only remains at the forefront of emerging technology and global events, but also builds a sustainable model that supports independent journalism and fosters community trust.
            </p>
        </div>          
      </section>          
   </main>
  <!-- Footer -->
  </body>
</html>
