<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>$title</title>
    <meta name="description" content="$description">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-gray-100 text-gray-800">
    <!-- Menu -->
     
    <!-- Hero Section -->
    <header class="relative mt-16">
      <div class="relative h-96 overflow-hidden">
        <img
          class="absolute top-0 left-0 w-full h-full object-cover"
          src="$image"
          alt="$title"
        />
      </div>
      <div
        class="absolute inset-0 bg-black opacity-70 flex flex-col items-center text-center justify-center"
      >
        <h1 class="text-2xl md:text-3xl text-white font-bold">
          $title
        </h1>
      </div>
    </header>

    <!-- Main Content -->
    <main class="max-w-7xl mx-auto p-4 my-8">
      <!-- Latest Posts Section -->
      <section id="latest-posts" class="my-8">
        <h2 class="text-3xl font-bold border-b pb-2 mb-4">Latest $title News</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <!-- Start Post -->
          <a href="$link" class="block">
            <div class="relative rounded shadow overflow-hidden h-48 group">
              <div
                class="absolute inset-0 bg-cover"
                style="background-image: url('$image');"
              ></div>
              <div class="absolute inset-0 bg-black cursor-pointer opacity-70 group-hover:opacity-30 group-hover:bg-black transition duration-300"></div>
              <div class="relative p-4">
                <h3 class="text-lg font-semibold transition duration-300 text-gray-50 group-hover:text-white">
                  $title
                </h3>
                <p class="text-sm mt-2  transition duration-300 text-gray-400 group-hover:text-white">
                  $description
                </p>
              </div>
            </div>
          </a>
          <!-- End Post -->
        </div>
      </section>
    </main>

    <!-- Footer -->
  </body>
</html>
